.fondoItem {
    background-color: #EF6F6C;
    height: 430px;
    border-radius: 20px;
    color: white;
}

.resultado {
    color: #56E39F;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.estiloNumero {
    font-size: 80px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.interpretacion {
    margin: 10px;
    font-size: 18px;
    text-align: center;
}