body{
    background-image: ;
}

.titulo {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.row {
    margin-top: 20px;
}

.btn-color {
    background-color: #59C9A5;
    border-color: #59C9A5;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover {
    background-color: #56E39F;
    border-color: #56E39F;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}